.heading {
  position: absolute;
  top: 68px;
  left: 400px;

  /* media queries */
  @media (max-width: 767px) {
    text-align: left;
  }

  @media (max-width: 400px) {
    text-align: left;
  }
}

.header {
  font-weight: bold;
  margin-bottom: 30px;
}

.forget-password-link {
  margin-top: -10px;
  text-align: right;
  width: auto;
}
#forgot-password-link:hover {
  color: #4d61fc;
  text-decoration: underline;
  cursor: pointer;
}

#signup-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}
